<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Sửa sinh viên</title>
</head>
<body>
    <form action="/sua" method="POST">        
        <table>
            <tbody>
                <tr>
                    <td>ID:</td>
                    <td><input type="text" name="id" value="<%= SinhVien._id %>"></td>
                </tr>
                <tr>
                    <td>Mã sinh viên:</td>
                    <td><input type="text" name="MASV" value="<%= SinhVien.MASV %>"></td>
                </tr>
                <tr>
                    <td>*Họ đệm</td>
                    <td><input type="text" name="HODEM" value="<%= SinhVien.HODEM %>"></td>
                </tr>
                <tr>
                    <td>Tên:</td>
                    <td><input type="text" name="TEN"  value="<%= SinhVien.TEN %>"> </td>
                </tr>

                <tr>
                    <td>Giới tính:</td>
                    <td><input type="text" name="GIOITINH"  value="<%= SinhVien.GIOITINH %>"></td>
                </tr>

                <tr>
                    <td>Ngày sinh:</td>
                    <td><input type="date" name="NGAYSINH"  value="<%= SinhVien.NGAYSINH %>"> </td>
                </tr>

                <tr>
                    <td>Nơi sinh:</td>
                    <td><input type="text" name="NOISINH"  value="<%= SinhVien.NOISINH %>"> </td>
                </tr>
                
                <tr>
                    <td>Mã lớp:</td>
                    <td><input type="text" name="MALOP"  value="<%= SinhVien.MALOP %>">  </td>
                </tr>
                
                <tr>
                    <td colspan="2"><input type="submit" value="Lưu" /> </td>

                </tr>      
             </tbody>
         </table>
    <form>
</body>
</html>